.App {
  text-align: center;
}

.loaderContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage {
  position: absolute;
  background-color: #002069;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  box-shadow: 5px 5px 5px;
}

.dashboard {
  position: absolute;
  background-color: #002069;
  height: fit-content;
  width: 100%;
}

#navbar {
  background-color: white;
  box-shadow: 5px 5px 5px;
}
